<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="tpentity" class="com.example.configBeanXmlApp.TpEntity">

   </bean>
    <bean id="tpservices" class="com.example.configBeanXmlApp.TpServices">
        <property name="entities">
        <list>

        </list>
        </property>

    </bean>
    <bean id="tpController" class="com.example.configBeanXmlApp.TpController">
        <constructor-arg ref="tpservices"></constructor-arg>
    </bean>
        </beans>